name: Build and Push container to ECR

on:
  workflow_call:
    inputs:
      docker-tag:
        type: string
        required: true
      service-name:
        type: string
        required: true
      working-directory:
        type: string
        required: true
      environment:
        type: string
        required: true
    secrets:
      AWS_REGION:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCOUNT_ID:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}  # This enables GitHub Environments protection if set

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ inputs.docker-tag }}
        run: |
          cd ${{ inputs.working-directory }}
          docker compose -f docker-compose.yml -f docker-compose.override.yml build ${{ inputs.service-name }}
          docker tag ${{ inputs.service-name }}:latest $ECR_REGISTRY/${{ inputs.service-name }}:$IMAGE_TAG
          docker push $ECR_REGISTRY/${{ inputs.service-name }}:$IMAGE_TAG
